<%include partials/header%>

<div class = "container">
    <div class="row" >Total Number of Tuples </div>
    
        <ul>
        <li>Number Of Listing Tuples: <b><%= listingQuantity.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %> </b></li>
        <li>Number Of Item Tuples: <b><%= itemQuantity.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></b></li>
        <li>Number Of Account Tuples: <b><%= accountQuantity.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></b></li>
        <li>Number Of Total Tuples: <b><%= (listingQuantity + itemQuantity + accountQuantity).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></b></li>
        </ul>
   
</div>
</div>
<%include partials/footer%>
