<%include partials/header%>
<div class="container">

	<div class="row">
    	<!-- BEGIN PRODUCTS -->
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://placehold.it/250x230" alt="...">
      			<h4>Product Title</h4>
              <p><strong>Seller:</strong> PlaceHolder</p>
        			<p><strong>Author:</strong> Lorem Ipsum </p>
              <p><strong>ISBN:</strong> Lorem Ipsum </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29.90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<a href="#"><button class="btn btn-success right" > BUY ITEM</button></a>
      				</div>
      			</div>
    		</span>
  		</div>
  		<!-- END PRODUCTS -->
	</div>
</div>
<%include partials/footer%>
