<%include partials/header%>

<div class="container">
    <div class="jumbotron">
      <div class="contents">
        <h1>Find Textbooks <i class = "glyphicon glyphicon-book"></i></h1>
        <p>Buy textbooks from other students, at a fraction of the price!</p>
        <p>
        <form action="/buy/query/" method="GET">
            <div class="form-group">
              <input name="queryString" type="text" class="form-control" placeholder="Search by textbook name, ISBN, author">
            </div>
          
          </form>
        </p>
      </div>
    </div>


    <div class="row">
        <div class="col-md-8 col-sm-6">
                <div class="row" id="stats-header">About our website:</div>
            <ul class="stats-list">
            <li>Books sold (this month vs last month): <b><%= percentDiff %>% Increase </b></li>
            <li>Total Books sold last month: <b><%= countLastMonth %></b></li>
            <li>Total Books sold this month: <b><%= countCurrentMonth %></b></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-6">
             <img src="/home.jpg" alt="...">
        </div>

    </div>
</div>
<%include partials/footer%>
