<% include partials/header %>
  <div class="container">
  <div class="row">
       <div class="col-lg-6 col-sm-6">
          <h1>Book Title</h1>
          <h4>By: Author</h1>
          <h4>ISBN: 9283728234</h1>
          <h4>Condition: Good</h1>

 

          <br>
          <h5>Seller: John Smith</h5>
          <h5>Listing published on: 10/1/16</h5>

          <hr>
          <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">$20.00</p>
            </div>
            <div class="col-md-6 col-sm-6">
                  <a href=""><button class="btn btn-success right" > BUY ITEM</button></a>
            </div>

          </div>
       </div>

      <div class="col-lg-6 col-sm-6">
        <a href="#" class="thumbnail">
          <img src="/placeholder.jpg" alt="...">
        </a>
      </div>
  </div>
</div>
<% include partials/footer %>